# Homework Starter â€” Stage 6: Data Preprocessing
Use this notebook to apply your cleaning functions and save processed data.

In [1]:
import sys
import os
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler


current_dir = os.path.dirname(os.path.realpath('.'))
sys.path.append(current_dir)

from src import cleaning

## Load Raw Dataset

In [2]:
df = pd.read_csv('../data/raw/sample_data.csv')
df.head()

   numeric_col category_col price    date_str     category
0         10.0            A  $100  2025-08-01  Electronics
1          NaN            B  $200  2025-08-02    Furniture
2         40.0            A  $150         NaN         Toys
3         55.0            B   NaN  2025-08-04     Clothing
4         70.0            C  $250  2025-08-05          NaN

In [3]:
if 'price' in df.columns:
    df['price'] = df['price'].str.replace('$','').astype(float)
if 'date_str' in df.columns:
    df['date_str'] = pd.to_datetime(df['date_str'], errors='coerce')

## Apply Cleaning Functions

In [4]:
# TODO: Apply your functions here
# Example:
df_cleaned = df.copy()
df_cleaned = cleaning.fill_missing_median(df_cleaned, ['numeric_col', 'price'])
df_cleaned['date_str'] = df_cleaned['date_str'].fillna(df['date_str'].mean())
df_cleaned['category'] = df_cleaned['category'].ffill()
df_cleaned = cleaning.normalize_data(df_cleaned, ['numeric_col'])

df_cleaned = cleaning.drop_missing(df_cleaned, threshold=0.2)
df_cleaned

   numeric_col category_col  price   date_str     category
0        0.000            A  100.0 2025-08-01  Electronics
1        0.625            B  200.0 2025-08-02    Furniture
2        0.500            A  150.0 2025-08-03         Toys
3        0.750            B  175.0 2025-08-04     Clothing
4        1.000            C  250.0 2025-08-05     Clothing

## Save Cleaned Dataset

In [5]:
# Inspect
df_cleaned.info()
df_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   numeric_col   5 non-null      float64
 1   category_col  5 non-null      object
 2   price         5 non-null      float64
 3   date_str      5 non-null      datetime64[ns]
 4   category      5 non-null      object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 332.0+ bytes

   numeric_col category_col  price   date_str     category
0        0.000            A  100.0 2025-08-01  Electronics
1        0.625            B  200.0 2025-08-02    Furniture
2        0.500            A  150.0 2025-08-03         Toys
3        0.750            B  175.0 2025-08-04     Clothing
4        1.000            C  250.0 2025-08-05     Clothing

In [6]:
# df.to_csv('../data/processed/sample_data_cleaned.csv', index=False)
os.makedirs('../data/processed', exist_ok=True)
df_cleaned.to_csv('../data/processed/sample_data_cleaned.csv', index=False)